$accent: #5A5A65;
$bg-color: #ffffff;
$text-color: #161616;
$grey: #F8F8F8;

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin transition-ease {
  transition: all 0.3s ease-in-out;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 18px;
}

ul {
  list-style-type: none;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}