$bg-color: #ffffff;
$text-color: #161616;
$grey: #F8F8F8;
$dark-grey: #81818b;
$red: #ff0000;
$red-pale: #ff6767;


@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin transition-ease {
  transition: all 0.3s ease-in-out;
}

@mixin shadow {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Roboto Mono', monospace;
}

p {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 18px;
}

ul {
  list-style-type: none;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}