@import './_config.scss';

body {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 30px;
  background-color: $bg-color;
  color: $text-color;
  min-height: 100vh;
}

main {
  @include flex-column;
  align-items: center;
}

.material-icons-outlined {
  font-family: 'Material Icons Outlined';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}
